<div class="panel panel-default">
  <div class="panel-heading">Cadastro Cliente</div>
  <div class="panel-body">
    {{form.valid}}
    {{form.value | json}}
    <form #form="ngForm" novalidate>
      <div class="col-md-6">
        <div class="form-group"
             [class.campo_sucesso]="ipNome.valid && (ipNome.dirty || ipNome.touched)"
             [class.campo_erro]="!ipNome.valid && (ipNome.dirty || ipNome.touched)">
          <label for="inputSucess">Nome: *</label>
          <input #ipNome="ngModel" required minlength="3" maxlength="100" name="nome" ngModel type="text" class="form-control"  placeholder="Digite o nome ...">
          <span class="bloco-erro" *ngIf="!ipNome.valid && (ipNome.dirty || ipNome.touched)"><i class="glyphicon glyphicon-remove"></i> Campo deve ter no min 3 caracteres e no max 10 caracteres</span>
          <span class="bloco-sucesso" *ngIf="ipNome.valid && (ipNome.dirty || ipNome.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group">
          <label for="inputSucess">Email:</label>
          <input required name="email" ngModel  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu email">
        </div>
        <div class="form-group">
          <label for="inputSucess">Senha: *</label>
          <input name="senha" ngModel type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="form-group">
          <label for="inputSucess">Telefones: *</label>
          <input name="telefone" ngModel type="telefone" class="form-control" placeholder="Digite os telefones...">
        </div>
        <div class="form-group"
             [class.campo_sucesso]="ipCpf.valid && (ipCpf.dirty || ipCpf.touched)"
             [class.campo_erro]="!ipCpf.valid && (ipCpf.dirty || ipCpf.touched)">
          <label for="inputSucess">Cpf: *</label>
          <input #ipCpf="ngModel" required name="cpf" ngModel type="text" class="form-control" placeholder="Digite o Cpf">
          <span class="bloco-erro" *ngIf="!ipCpf.valid && (ipCpf.dirty || ipCpf.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipCpf.valid && (ipCpf.dirty || ipCpf.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group"
             [class.campo_sucesso]="ipCep.valid && (ipCep.dirty || ipCep.touched)"
             [class.campo_erro]="!ipCep.valid && (ipCep.dirty || ipCep.touched)">
          <label for="inputSucess">Cep:</label>
          <input #ipCep="ngModel" required name="cep" ngModel type="text" class="form-control"  placeholder="Cep">
          <span class="bloco-erro" *ngIf="!ipCep.valid && (ipCep.dirty || ipCep.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipCep.valid && (ipCep.dirty || ipCep.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"
             [class.campo_sucesso]="ipLogradouro.valid && (ipLogradouro.dirty || ipLogradouro.touched)"
             [class.campo_erro]="!ipLogradouro.valid && (ipLogradouro.dirty || ipLogradouro.touched)">
          <label for="inputSucess">Logradouro: *</label>
          <input #ipLogradouro="ngModel" required name="logradouro" ngModel type="text" class="form-control" aria-describedby="emailHelp" placeholder="Digite a logradouro...">
          <span class="bloco-erro" *ngIf="!ipLogradouro.valid && (ipLogradouro.dirty || ipLogradouro.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipLogradouro.valid && (ipLogradouro.dirty || ipLogradouro.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group"
             [class.campo_sucesso]="ipBairro.valid && (ipBairro.dirty || ipBairro.touched)"
             [class.campo_erro]="!ipBairro.valid && (ipBairro.dirty || ipBairro.touched)">
          <label for="inputSucess">Bairro: *</label>
          <input #ipBairro="ngModel" required name="bairro" ngModel type="text"  class="form-control"  placeholder="Digite Bairro...">
          <span class="bloco-erro" *ngIf="!ipBairro.valid && (ipBairro.dirty || ipBairro.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipBairro.valid && (ipBairro.dirty || ipBairro.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group"
             [class.campo_sucesso]="ipCidade.valid && (ipCidade.dirty || ipCidade.touched)"
             [class.campo_erro]="!ipCidade.valid && (ipCidade.dirty || ipCidade.touched)">
          <label for="inputSucess">Cidade: *</label>
          <input #ipCidade="ngModel" required name="cidade" ngModel type="text" class="form-control" placeholder="Digite o nome da Cidade.">
          <span class="bloco-erro" *ngIf="!ipCidade.valid && (ipCidade.dirty || ipCidade.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipCidade.valid && (ipCidade.dirty || ipCidade.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group"
             [class.campo_sucesso]="ipUf.valid && (ipUf.dirty || ipUf.touched)"
             [class.campo_erro]="!ipUf.valid && (ipUf.dirty || ipUf.touched)">
          <label for="inputSucess">Uf: *</label>
          <input #ipUf="ngModel" name="uf" ngModel type="text" class="form-control" placeholder="Digite a Uf">
          <span class="bloco-erro" *ngIf="!ipUf.valid && (ipUf.dirty || ipUf.touched)"><i class="glyphicon glyphicon-remove"></i> campo obrigatório</span>
          <span class="bloco-sucesso" *ngIf="ipUf.valid && (ipUf.dirty || ipUf.touched)"><i class="glyphicon glyphicon-ok"></i> Ok</span>
        </div>
        <div class="form-group">
          <label for="inputSucess">Complemento:</label>
          <input name="complemento" ngModel type="text" class="form-control" id="inputSucess" placeholder="Digite o complemento">
        </div>
      </div>

      <div class="col-lg-12">
        <button [disabled]="!form.valid" type="submit" class="btn btn-success">Cadastrar</button>
        <button type="submit" [routerLink]="['/']" class="btn btn-info pull-right">Voltar</button>
      </div>

    </form>
  </div>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lista de Clientes</div>
  <div class="panel-body">
    <p>Todos os clientes que foram cadastrados no banco de dados 'teste_desafio' sucetiveis a exclusão e edição</p>
  </div>

  <!-- Table -->
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
      <th scope="col">Emails</th>
      <th scope="col">Cep</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Uf</th>
      <th scope="col">Complemento</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cli of clientes">
      <td>{{cli.nome}}</td>
      <td>{{cli.cpf}}</td>
      <td>{{cli.emails}}</td>
      <td>{{cli.cep}}</td>
      <td>{{cli.logradouro}}</td>
      <td>{{cli.bairro}}</td>
      <td>{{cli.cidade}}</td>
      <td>{{cli.uf}}</td>
      <td>{{cli.complemento}}</td>
      <td>
        <button type="button" class="btn btn-default" title="Editar">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-danger" title="Excluir">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
